*.caffemodel
*.m~
caffe_rtpose/
caffe_train/
testing/python/config_reader.pyc
testing/python/savetmp/
testing/python/savetmp1/
testing/python/util.pyc
testing/sample_image/10.jpg
testing/sample_image/11.jpg
testing/sample_image/12.jpg
testing/sample_image/2.jpg
testing/sample_image/3.jpg
testing/sample_image/4.jpg
testing/sample_image/5.jpg
testing/sample_image/6.jpg
testing/sample_image/7.jpg
testing/sample_image/8.jpg
testing/sample_image/9.jpg
testing/sample_image/students.jpg
training/Run/COCO_orig/model/
training/dataset/
training/lmdb_trainVal/
training/train2014.zip
